<!DOCTYPE html>
<html>
<head>
    <meta charset= "utf-8">
    <title>Page Title</title>
    <script src="https://unpkg.com/react@15/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
</head>
<body>
    <div id="root"></div>
    <div id="root2"></div>
    <script type="text/babel" src="xyly4.js"></script>
</body>
</html>